
.App {
  padding: 75px 125px;
  tbody{
    .data td{
      border-bottom: 1px solid #ccc;
      padding: 5px 10px;
      border-right: 1px solid #ccc;
    }
    tr:nth-of-type(even) {
    background-color: #f3f3f3;
    }
    .table-header{
      background-color: #9ACCE9;
      th{
        padding: 10px;
      }
    }
  }
}
